<div class="sidebar-widget-area">
    <h5 class="title">Acerca de "Baguettes and More"</h5>
    <div class="widget-content">
        <p>
            Somos una empresa panadera que ofrece una variedad de panes y reposterías en la ciudad de Managua
            para personas de cualquier edad, género y ocupación que busquen deleitar un sabroso producto, con
            una buena atención al cliente y la posibilidad de modificar el sabor de cada uno de estos.
        </p>
    </div>
</div>
